$tertiaryLight: #E6F1F4;
$tertiaryDark:#DBEAF3;
$neutralDark: #0A1B12;
$neutralLightBlack:#6C7671; 
$chatForMe: #E7E8E7;
$imageHolder: #BF3A91;
$whiteColor: #ffffff;
$primaryColor:#25A8E0;
$nav_activeColor: #09788F;